* {
  color: white;
}

div {
  background-color: #BFD8D2;
}

img {
  width: 150px;
  border-radius: 100%;
  filter: grayscale();
}

ul {
  list-style-type: none;
}

a {
  color: white;
}

span {
  font-size: 20px;
}

em, strong {
  color: #E85A4F;
}

.welcome {
  background-image: url("../img/texture.jpg");
  margin-bottom: -20px;
  height: 900px;
}

.profile-pic {
  margin-top: 300px;
  margin-left: 20px;
  width: 300px;
  float: left;
}

.small-card {
  padding-top: 300px;
  margin-left: 50px;
  width: 600px;
  float: left;
  background: transparent;
  border: none;
}

.small-card h5,p,li {
  color: #E85A4F;
}

.small-card h1 {
  color: #252839;
}

.contact-icons li{
  display: inline;
  margin: 10px;
}

.navigation {
  background-color: #DF744A;
  border-radius: 5px;
}

.project-samples {
  background-color: #DCB239;
  border-radius: 5px;
}

.project-samples .btn {
  border-radius: 150px;
}

.section-title {
  margin-top: 40px;
  color: #252839;
}

.card {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.card h6 {
  margin-top: 1px;
}

.skills li {
  float: left;
  margin: 13px;
}

.projects .btn {
  border-radius: 150px;
}

.projects li {
  color: #E85A4F;
}

.footer {
  background-color: #252839;
  height: 50px;
  border-radius: 5px;
}
