* {
  border: 1px solid black;
  color: #494949;
}

body {
  background-color: #EAE7DC;
}

div {
  background-color: #D8C3A5;
}

img {
  width: 150px;
  border-radius: 100%;
  filter: grayscale();
}

ul {
  list-style-type: none;
}

.navigation, .project-samples {
  background-color: #E98074;
}

.project img {
  float: left;
  margin: 20px;
}
